#root {
    width: 23rem;
    background-image: url("../img/Food2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
}

#container {
    opacity: 80%;

}

:root {
    --mdc-theme-primary: #00008B;
    --mdc-theme-secondary: #827717;
}

dt {
    background-color: #00008B;
    color: var(--mdc-theme-on-primary);
}

h1 {
    color: white;
    -webkit-text-stroke: thin red;
    font-style: italic;
    text-shadow: 5px 5px 5px blue;
}

h2, dd {
    background-color: var(--mdc-theme-on-primary);
}

.aktiv {
    background-color: #4b81d6
}

.inaktiv {
    background-color: #7CB342
}

h1, h2, dl {
    margin: 0;
}

h2 {
    padding: 5px 5px 5px 10px;
    margin-left: 10px ;
    margin-right: 10px;
    border-radius: 10px;
}

i.material-icons {
    cursor: pointer;
    float: right;
}

button.material-icons {
    font-size: inherit;
    vertical-align: bottom
}

[type="checkbox"] {
    vertical-align: top;
    margin-right: 8px;
}

dt {
    display: flex;
    font-weight: 500;
    padding: 3px 5px;
}

dt span {
    width: 100%;
}

dt, dd {
    height: 2rem;
    font-size: 1.2rem;
}

dd {
    display: flex;
    margin-left: 0;
    margin: 3px;
    border-radius: 20px;
}

dd label {
    padding: 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;

}

dd label input[type="checkbox"] {
    margin: 6px 6px;
}

dd input[type="search"] {
    margin-left: 1.5rem;
}

.mdc-text-field {
    height: 2rem;
}

label {
    width: 91%;
    cursor: pointer
}

footer {
    display: flex;
    justify-content: space-between;
}

.mdc-dialog {
    opacity: 100%;
}

.mdc-dialog__surface {
    position: absolute;
    top: 10%;
    left: 25px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.mdc-text-field {
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 20px;;
}

hr {
    color: #8BDB79;
    opacity: 0;
}

.material-icons.mdc-text-field__icon.mdc-text-field__icon--trailing {
    width: 10%;
}

